@media (max-width: 1920px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {

  .container {
    width: 360px;
    margin: 0 auto;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #cfddf1;
  color: #4c5470;
  font-size: 16px;
  line-height:normal;
  text-align: center;
  font-weight: 400;
  background-image: url("images/ZeldaTOTK_Wallpaper_1920x1080.jpg");
  background-size: auto;
}

h1 {
  color: #4BD49D;
  font-size: 32px;
}

h2{
  color: #4BD49D;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}


.card{
  margin:20px auto;
  background-color: #ffffffe1;
  border-radius:8px;
  border:2px solid black;
  padding: 8px;
}
a {
  text-decoration: none;
}
a:hover{
  color: rgb(3, 3, 3);
}

#btn-prin{
  padding: 4px;
  border-radius: 8px;
  border:2px solid black;
  font-weight: bold;
}

#btn-prin:hover{
  background-color: #4BD49D;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
  padding: 10px;
  font-size: 16px;
}

#profile-pic{
  border-radius: 50%;
  border:4px solid #4BD49D;
}
